* {
    font-family: 'Consolas', 'sans-serif';
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(41, 41, 41);
    color: antiquewhite;
}

.about-div {
    /* background-color: grey; */
    height: 100%px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.about-btn {
    color: antiquewhite;
    font-size: 24px;
    text-decoration: none;
    padding: 15px 35px;
    border: 1px solid lightgreen;
    /* margin: 0 auto; */
}

.main-title{
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid antiquewhite;
    margin-bottom: 50px;
}

.starting-messsage, .ending-message {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.my-list {
    border: 1px solid aquamarine;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 8px;
}

ul {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 8px;
    list-style: number;
}

li {
    text-align: left;
    /* border: 1px solid pink; */
}


/*------------ABOUT PAGE-----------*/

.about-main-div {
    margin-top: 100px;
    text-align: center;
    border: 1px solid lightgreen;
    padding: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.about-title {
    color: blueviolet;
    margin-bottom: 50px;

}

.about-paragraph {
    font-style: italic;
    margin-bottom: 100px;
    line-height: 2rem;
}

.about-home-link {
    text-decoration: none;
    font-size: 24px;
    padding: 10px 30px;
    border: 1px solid lightsalmon;
    border-radius: 100px;
    color: antiquewhite;
}
